@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    background-color: #F9FAFF;
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container{
    width: 540px;
    display: flex;
    flex-direction: column;
}

/* Font Styling */
.head{
    color: #293356;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.content{
    color: #848EAD;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.pageviews{
    color: #848EAD;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.pricing{

    :first-child{
        color: #293356;
        font-size: 40px;
        font-weight: 800;
        letter-spacing: -1px;
    }

    :last-child{
        color: #848EAD;
        font-weight: 600;
    }

}

.billing{
    color: #848EAD;
    font-size: 12px;
    font-weight: 600;
}

.discount{
    color: #FF8D68;
    font-size: 10px;
    font-weight: 800;
    border-radius: 9.5px;
    background: #FEEDE8;
    padding: 3px 7px;
}

.package-content{
    color: #848EAD;
    font-size: 12px;
    font-weight: 600;
}

.start-trial-btn{
    border-radius: 20.5px;
    background: #293356;
    color: #BECDFF;
    font-size: 12px;
    font-weight: 800;
    padding: 13px 46px;
}

.package-contents{
    list-style-image: url('../img/tick.svg');
}

/* Page Styling */

.card-container{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.15);
    padding: 40px 44px 33px 46px;
}

.header{
    padding: 104px 0px 92px 0px;
    background-image: url('../img/circles.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.pricing-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.monthly-yearly-selector-container{
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding-bottom: 45px;
    margin-right: 17px;
}

.line{
    height: 1px;
    border: 1px solid #ECF0FB;
}

.yearly-container{
    display: flex;
    gap: 15px;
    align-items: center;
}

.start-trial-container{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.package-contents{
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-left: 16px;
}
.package-content{
    padding-left: 16px;
}

/* Input Styling */

input[type="range"]{
    width: 100%;
    appearance: none;
    outline: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track{
    outline: none;
    border-radius: 5px;
    background: #A4F3EB;
    height: 8px;
}

input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    background: url('../img/thumb.svg');
    height: 100px;
    width: 100px;
    margin-top: -32px;
}

/* Input type check styling */

.toggle{
    width: 40px;
    height: 20px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}
.toggle-input{
    display: none;
}
.toggle-fill{
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background: #CFD8EF;
    transition: background .25s ease;
}

.toggle-fill::after{
    content: "";
    position: absolute;
    top: 3.4px;
    left: 4px;
    height: 14px;
    width: 14px;
    background: #ffff;
    border-radius: 50%;
    transition: transform .5s;
}

.toggle-input:checked ~ .toggle-fill::after{
    transform: translateX(19px);
}